#edenzero{

color:rgb(83, 0, 108)

}





#shiki{
  
width: 100px;

}



#t {
 
    color :rgb(179, 255, 0);
}
#shiki2 {
    width:200px;

}

#overdrive {
    color :rgb(255, 6, 6);
}

#overdrive2 {
    color :rgb(56, 255, 6);
}

#shiki3 {
    width:100px;

}